@model P01.Models.Note
@{
    String printableDate = @Model.date.Year.ToString() + '-'+@Model.date.Month.ToString("D2") + '-' + @Model.date.Day.ToString("D2");
    
}
<form asp-action="ModifyCategories" asp-controller="Calendar" asp-route-id=@Model.id id ="CatModify"></form>
<div class = "well">
    <form asp-action="SubmitChanges" asp-controller="Calendar" asp-route-id=@Model.id id ="submitaction">
        <div class = "row">
            <div class ="col-sm-1"> Title of the note </div>
            <div class ="col-sm-9">
                
                <input type = "text" style = "width:500px" name = "title" value = "@Model.title">
                
            </div>
            <div class ="col-sm-2">
                <div class = "checkbox">
                    @if(@Model.isMarkdown)
                    {
                        <input type = "checkbox" name = "markdown" value = "true" checked >  
                    }
                    else
                    {
                        <input type = "checkbox" name = "markdown"  value = "true" > 
                    }
                    Markdown
                </div>
            </div>
        </div>
        <textarea name="text" style="width:1000px; height:400px;" form = "submitaction"> @Model.text</textarea>  
        <div class = "row">
            <div class = "col-sm-4">
                <input type = "text" form = "CatModify" name ="category">
                <input type="submit" name = "submit"value="Add Category" form = "CatModify">
                <input type = "submit" name = "submit" value = "Remove Category" form = "CatModify">
            </div>
            <div class = "col-sm-3 "> Category:
                 <select name = "category">
                            
                            @for(int i = 0;i < @Model.noteCategories.Count ;i++)
                            {
                                <option value = "@Notebook.categoriesList.ElementAt(i)">@Model.noteCategories.ElementAt(i) </option>                              
                            }
                           
                </select>
            </div>
            <div class = "col-sm-3"> Date:
                <input type = "date" name = "date" value = @printableDate>
            </div>
            
        </div>
        <hr/>
        <input type="submit" value="Submit">
        
    </form>
    
    <a asp-controller="Calendar" asp-action="Index" type = "button" class="btn btn-default">Cancel</a>
</div>
    
        


