@{
    string fromDate = Notebook.fromFilterDate.Year.ToString() + '-' + Notebook.fromFilterDate.Month.ToString("D2") + '-' + Notebook.fromFilterDate.Day.ToString("D2");
    string toDate = Notebook.toFilterDate.Year.ToString() + '-' + Notebook.toFilterDate.Month.ToString("D2") + '-' + Notebook.toFilterDate.Day.ToString("D2");
    string filterCategory = Notebook.filteredCategory;
    int numberOfPages = (Notebook.displayedNotes.Count - 1)/10 + 1;
    int currentPage = Notebook.currentNoteId /10 +1;
    int displayRange =  currentPage * 10 < Notebook.displayedNotes.Count ? displayRange = currentPage *10 : displayRange = Notebook.displayedNotes.Count;
}
@using  P01.Models;
 <div class = "well">
            <form asp-action="Filter" asp-controller="Calendar">    
                <div class = "row">
                    <div class="col-sm-3">
                        From 
                        <input type="date" name = "from" value = @fromDate> 
                    </div>
                    <div class="col-sm-3">
                        To
                        <input type="date" name = "to" value = @toDate> 
                    </div>
                    <div class="col-sm-3">
                        Category
                       <!-- <input type="text" name = "category" value = @filterCategory>-->
                        <select name = "category">
                            <option value = "@filterCategory" selected>@filterCategory</option>
                            @for(int i = 0;i < Notebook.categoriesList.Count ;i++)
                            {
                                @if(Notebook.categoriesList.ElementAt(i)!= filterCategory)
                                {
                                <option value = "@Notebook.categoriesList.ElementAt(i)">@Notebook.categoriesList.ElementAt(i) </option>
                                }
                            }
                           
                        </select>

                    </div>
                    <div class="col-sm-3">
                        <div class = "btn-group">
                            <input type="submit" value="Filter">
                            <a asp-action="DeleteFilter" asp-controller="Calendar" class="btn btn-default">Delete Filter</a>
                        </div>
                    </div>

            
                </div>
            </form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                    <th></th>
                    
                </tr>
                </thead>
                <tbody>

                @for(int i = 10 * (currentPage -1);i < @displayRange ;i++)
                {
                    <tr>
                    @{
                    Note note = Notebook.displayedNotes.ElementAt(i);
                    string printableDate =  note.date.Date.ToString("d");
                    int index = note.id;

                    }
                    <td>
                        @Html.DisplayFor(modelItem => printableDate) 
                    </td>
                    <td>@Html.DisplayFor(modelItem => note.title)</td>
                    <td align="right">
                     <a asp-action="Edit" asp-route-id= "@index" class="btn btn-default">Edit</a>
                     <a asp-action="DeleteFile" asp-route-id= "@index" class="btn btn-default">Delete</a>
                    </td>
                </tr>
                }                     
                </tbody>
            </table>

            <hr />
            
            <div class = "row">
                <div class="col-sm-6">
                    <div class="btn-group">
                    <a asp-controller="Calendar" asp-action="New" type = "button" class="btn btn-default">New</a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <a asp-controller="Calendar" asp-action="PreviousPage" type = "button" class="btn btn-default">Previous Page</a>
                </div>
                <div class ="col-sm-2"> Page: @currentPage / @numberOfPages </div>
                <div class="col-sm-2">
                    <a asp-controller="Calendar" asp-action="NextPage" type = "button" class="btn btn-default">Next Page</a>
                </div>

        
            </div>
            <hr />
            


        </div>

