@{
    String currentDate = DateTime.Now.Year.ToString() + '-' + DateTime.Now.Month.ToString() + '-' + DateTime.Now.Day.ToString();
    String maxDate = "2077-12-13";
    int numberOfPages = (Model.allNotes.Count - 1)/10 + 1;
    int currentPage = Model.currentNoteId /10 +1;
    int displayRange =  currentPage * 10 < Model.allNotes.Count ? displayRange = currentPage *10 : displayRange = Model.allNotes.Count;
}
@model P01.Models.Notebook;

 <div class = "well">
            <form asp-action="Filter" asp-controller="Calendar">    
                <div class = "row">
                    <div class="col-sm-3">
                        From 
                        <input type="date" name = "from" value = @currentDate> 
                    </div>
                    <div class="col-sm-3">
                        To
                        <input type="date" name = "to" value = @maxDate> 
                    </div>
                    <div class="col-sm-3">
                        Category
                        <input type="text" name = "category">
                    </div>
                    <div class="col-sm-3">
                        <div class = "btn-group">
                            <input type="submit" value="Filter">
                            <input type="reset" value = "Clear">
                        </div>
                    </div>

            
                </div>
            </form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                    <th></th>
                    
                </tr>
                </thead>
                <tbody>

                @for(int i = 10 * (currentPage -1);i < @displayRange ;i++)
                {
                    <tr>
                    @{
                    Note note = @Model.allNotes.Find(notie => notie.id == i );
                    string printableDate =  note.date.Date.ToString("d");

                    }
                    <td>
                        @Html.DisplayFor(modelItem => printableDate) 
                    </td>
                    <td>@Html.DisplayFor(modelItem => note.title)</td>
                    <td align="right">
                     <a asp-action="Edit" asp-route-id= "@i" class="btn btn-default">Edit</a>
                     <a asp-action="DeleteFile" asp-route-id= "@i" class="btn btn-default">Delete</a>
                    </td>
                </tr>
                }                     
                </tbody>
            </table>

            <hr />
            
            <div class = "row">
                <div class="col-sm-6">
                    <div class="btn-group">
                    <a asp-controller="Calendar" asp-action="New" type = "button" class="btn btn-default">New</a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <a asp-controller="Calendar" asp-action="PreviousPage" type = "button" class="btn btn-default">Previous Page</a>
                </div>
                <div class ="col-sm-2"> Page: @currentPage / @numberOfPages </div>
                <div class="col-sm-2">
                    <a asp-controller="Calendar" asp-action="NextPage" type = "button" class="btn btn-default">Next Page</a>
                </div>

        
            </div>
            <hr />
            


        </div>

